.row {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}

.mid-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.right-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stop {
  background-color: red;
  margin: 10px 0;
  padding: 10px 0;
  font-weight: bold;
  color: white;
}

.clicked {
  fill: gray;
}

.loaded {
  fill: hsl(240, 100%, 50%);
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 32px solid transparent;
  border-right: 32px solid transparent;
  border-bottom: 64px solid orange;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 32px solid transparent;
  border-right: 32px solid transparent;
  border-top: 64px solid orange;
}

.arrow-up.clicked {
  border-bottom: 64px solid gray;
}

.arrow-up.loaded {
  border-bottom: 64px solid hsl(240, 100%, 50%);
}

.arrow-down.clicked {
  border-top: 64px solid gray;
}

.arrow-down.loaded {
  border-top: 64px solid hsl(240, 100%, 50%);
}

div.branch {
  font-family: Arial Narrow, Arial, sans-serif;
  font-size: 14px;
  width: 50%;
  min-height: 160px;
  background: #222222;
  border: 0.3px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  white-space: nowrap;
}

div.new {
  font-weight: bold;
}

div.train {
  margin-left: 3px;
}
