body {
  font-family: sans-serif;
}
table {
  margin-bottom: 1em;
  border-collapse: collapse;
}
div.tr {
  display: flex;
  flex-direction: row;
}
div.tr.tbody {
  margin-left: 70px;
}
div.tc {
  display: flex;
  flex-direction: column;
}
div.tc.station {
  position: fixed;
  background: #fff;
}
span.td {
  border-left: thin solid;
  border-right: thin solid;
}
span.td.ahead {
  background-color: #d4dfed;
}
span.td.ontime {
  background-color: #98fb98;
}
span.td.delay1 {
  background-color: #ffffe0;
}
span.td.delay2 {
  background-color: #ff0;
}
span.td.delay4 {
  background-color: #e69500;
  color: #fff;
}
span.td.delay8 {
  background-color: red;
  color: #fff;
}
span.td.station {
  width: 70px;
}
span.td.Ankomst {
  border-top: thin solid;
  border-bottom: none;
}
span.td.Avgang {
  border-top: none;
  border-bottom: thin solid;
}
.actual,
caption {
  font-weight: 700;
}
div.west {
  text-align: left;
}
div.central {
  text-align: center;
}
div.east {
  text-align: right;
}
